<h1>About</h1>

<p>It is a Rental Management System for heavy equipments project that I developed in order to quickly jolt my Angular JS knowlege of a few things. </p>

<h3 style="margin-top: 25px;" id="what-is-it">What is it?</h3>
<p>You can select Location and Branch from the top menu.Also you can select Location and then branch
	which in turn will show categories in that
	branch.</p>

<h3 style="margin-top: 25px;" id="what-is-it-made-of">What is it made of?</h3>
<p>The app uses the following:</p>
<ul>
	<li>v1.4.7 of <a href="https://github.com/angular/angular.js">Angular JS</a></li>
	<li><a href="https://github.com/angular-ui/ui-router">ui-router</a> is being used for routing. </li>
	<li><a href="https://github.com/twbs/bootstrap">Twitter Bootstrap</a> for the interface.</li>
</ul>

<h3 style="margin-top: 25px;" id="what-does-it-contain">What does it contain?</h3>
<p>There are a few controllers, some nested views, a service and a directive for the branch.</p>

